{% extends 'base.html' %}

{% block title %}{{ abc.name }} alphabet{% endblock %}
{% block header %}
	<h1><a href="/">Words of Power</a> > {{ abc.name }} alphabet</h1>
{% endblock %}

{% block content %}
{% for s in abc.symbols %}
	<a class="symbol-preview" href="{{ url_for('symbol', abc=abc.handle, symbol=s.handle) }}" title="{{ s.name }}">
		<img class="medium-size" src="/dynamic/img/symbols/{{ abc.handle }}/{{ s.handle }}.svg" alt="{{ s.name }}" />
	</a>
{% endfor %}
<br class="breaker">
{% endblock %}
